<%-include('header')%>

    <p class="about-para"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed neque a lacus dapibus
        gravida semper sed

        <br/>
        <br/>
        felis. Aliquam pulvinar nulla nec lorem congue mattis. Praesent iaculis mi et ante sodales feugiat. Nam
        imperdiet magna ut pretium auctor. Ut varius eros quis nibh porta aliquam scelerisque et libero. Donec bibendum
        ante non dolor elementum laoreet. Curabitur venenatis odio ut nunc sodales rutrum. In elementum sapien eget
        elementum volutpat. Sed auctor nulla id erat consectetur, ac ornare nunc placerat. Sed vulputate odio erat, in
        posuere nibh sodales vel. Pellentesque facilisis et nulla ornare lobortis. Ut non nibh a neque placerat viverra
        in nec libero.
        <br/>
        <br/>

        Quisque eu vulputate eros. Fusce iaculis fermentum tortor eget aliquam. Quisque dignissim dolor quis risus
        dapibus maximus in ac libero. Nam laoreet enim et lorem rhoncus ornare ac at elit. Donec sem mauris, dapibus ac
        eleifend sed, vulputate id urna. Nullam consectetur imperdiet ante, sed cursus urna. Ut quis eleifend sapien.
        Donec nec risus arcu. Sed placerat velit at tincidunt tincidunt. Ut malesuada vel sem ac facilisis.
        <br/>
        <br/>

        Donec ac est venenatis nisi blandit placerat. Nulla justo nunc, egestas et ornare ac, mattis ut odio. Nunc sit
        amet hendrerit eros. Donec laoreet, ipsum non ultricies molestie, quam nibh auctor risus, vel rutrum felis sem
        in dui. Morbi euismod imperdiet nisi, fermentum hendrerit felis consequat a. Suspendisse in sem nisi. Vestibulum
        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam ultrices mollis nunc. Mauris in
        urna at diam fringilla tempus eu ut risus. Vivamus id sem molestie, porta odio at, iaculis lorem. Morbi
        consequat dapibus turpis, scelerisque iaculis mauris ultrices id. Fusce sagittis sapien non dui dignissim
        ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est ante, cursus eu diam vel,
        tincidunt congue dolor. Suspendisse potenti. Praesent suscipit sapien eu lorem suscipit volutpat.
        <br/>
        <br/>

        Vestibulum ac consectetur ipsum. Maecenas volutpat risus eu dui consectetur ultricies. Proin quis consectetur
        nibh, varius scelerisque orci. Duis pharetra massa sed nunc pretium, dapibus finibus urna pretium. In hac
        habitasse platea dictumst. Vestibulum pulvinar tincidunt interdum. Vivamus fermentum massa sit amet malesuada
        mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

    </p>
    <%-include('footer')%>